<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='container'>
		<h1>Sudoku Tester</h1>
		<div class='col-md-4'>
			<h3>Results</h3>
			<dl class="dl-horizontal">
			  % for name, out in page.students.iteritems():
			    % if out:
			  	  <dt>{{name}}</dt>
			  	  <dd>{{len(out) - 1}}/{{page.totalTests}}</dd>
			  	% end
			  % end
			</dl>
		</div>
		<div class='col-md-8'>
			<h2>Submit Form</h2>
			<form role="form" action="/save" method='get'>
			  <div class="form-group">
			    <label for="nick">Username:</label>
			    <input type="text" class="form-control" name='nick' id="nick" placeholder="your nick name here">
			  </div>
			  <div class="form-group">
			    <label for="code">Java code:</label>
			    <textarea name='code' style="font-family: monospace; margin: 0px -9px 0px 0px; height: 338px; width: 741px;" class="form-control" id="code" placeholder="put your code here"></textarea>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

	</div>
</body>
</html>